
<html ng-app>
<head>
  <title>angular test</title>
  <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container" ng-app="">
    <h3 class="text-danger">angular test</h3>

    Your name: <input type="text" ng-model="message" placeholder="World">
    <h5 class="text-info">Hello {{message || 'nobody'}} !</h5>
    <hr>

    <div ng-controller="firstCtrl">
      Your name: <input type="text" ng-model="message" placeholder="World">
      <h5 class="text-info">Hello {{message || 'nobody'}} !</h5>
    </div>

    <div ng-controller="firstCtrl">
      Your name: <input type="text" ng-model="message" placeholder="World">
      <h5 class="text-info">Hello {{message || 'nobody'}} !</h5>
    </div>

<script src="angular-1.2.8/angular.js"></script>
<script src="main.js"></script>

</body>
</html>